<ng-container *ngIf="!loading, else spinner">
  <div fxLayout="row" fxLayoutAlign="space-between flex-start">
    <h1>News</h1>
    <a routerLink="/news/creat-news" mat-button>CREAT NEWS</a>
  </div>

  <div fxLayout="column" fxLayoutGap="16px grid">
    <div
      fxFlex.xs="100%"
      *ngFor="let news of arrayNews"
    >
      <mat-card fxLayoutAlign="space-around flex-end">
        <img
          [src]="pathImg + '/uploads/' + news.image"
          [alt]="'Photo of ' + news.title"
          mat-card-lg-image
        />
        <div>
          <p>Date: {{ news.date }}</p>
          <mat-card-title>Title: {{ news.title }}</mat-card-title>
          <mat-card-actions>
            <a
              [routerLink]="['/news/', news.id]"
              mat-raised-button color="primary"
            >READ MORE</a>
            <button
              mat-raised-button color="warn"
              (click)="onRemoveNews(news.id)"
            >DELETE</button>
          </mat-card-actions>
        </div>
      </mat-card>
    </div>
  </div>
</ng-container>
<ng-template #spinner>
  <mat-spinner></mat-spinner>
</ng-template>
