<div fxLayout="row wrap" fxLayoutGap="16px grid" *ngIf="news">
  <div
    fxFlex="100%"
  >
    <mat-card>
      <div fxLayoutAlign="space-between flex-start" class="news">
        <div>
          <p>Date: {{ news.date }}</p>
          <mat-card-title>Title: {{ news.title }}</mat-card-title>
          <mat-card-subtitle>Description: {{ news.description }}</mat-card-subtitle>
        </div>
        <img
          [src]="pathImg + '/uploads/' + news.image"
          [alt]="'Photo of ' + news.title"
          mat-card-lg-image
        />
      </div>
      <mat-card-content>
        <app-comments></app-comments>
        <app-form-comment></app-form-comment>
      </mat-card-content>
    </mat-card>
  </div>
</div>
