<div >
  <h1>Comments</h1>
  <ng-container *ngIf="!loading, else spinner">
    <div fxLayout="column" fxLayoutGap="16px grid" *ngIf="arrayComments">
      <div
        fxFlex.xs="100%"
        *ngFor="let comment of arrayComments"
      >
        <mat-card  fxLayoutAlign="space-between flex-start">
          <div>
            <mat-card-title>Author: {{ comment.author }}</mat-card-title>
            <mat-card-subtitle>Comment: {{ comment.comment }}</mat-card-subtitle>
          </div>
          <mat-card-actions>
            <button
              mat-raised-button color="warn"
              (click)="onRemoveComment(comment.id)"
            >DELETE</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </ng-container>
  <ng-template #spinner>
    <mat-spinner></mat-spinner>
  </ng-template>
</div>

