h1
  border-top: 2px solid black
  text-align: center
  padding-top: 20px

mat-card
  background: darkblue
  color: white
  margin-bottom: 10px

mat-card-title
  margin-bottom: 20px

mat-card-subtitle
  color: white

mat-spinner
  margin: 0 auto 5px
