<h1>Creat comment</h1>
<mat-card>
  <mat-card-content>
    <form (ngSubmit)="onSubmit()" #form="ngForm" fxLayout="column">
      <mat-form-field appearance="outline">
        <mat-label>Author</mat-label>
        <input name="author" matInput ngModel/>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Comment</mat-label>
        <textarea
          name="comment"
          required
          ngModel
          matInput
          cdkTextareaAutosize
          cdkAutosizeMinRows="3"
        ></textarea>
      </mat-form-field>
      <div>
        <button
          type="submit"
          mat-raised-button
          color="primary"
          [disabled]="form.invalid"
        >SAVE</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
